.bgf-secondary {
  background-color: rgb(232, 230, 230) !important;
}
.banner {
  height: 500px !important;
  object-fit: cover;
  width: 100%;
}
.card-img-top {
  height: 250px;
  object-fit: cover;
}
.link-footer {
  text-decoration: none;
  color: black;
}
.dastresi-link {
  display: block;
  text-decoration: none;
  color: rgb(230, 58, 5);
  margin-top: 16px;
}
